body{
	width:1500px;
	color:#838892;
}
p{
	line-height:150%;
	text-indent:5px;
	font-size:20px;
	font-weight:normal;
}
h1 {
	font-weight:normal;
	font-size:50px;
	font-family:arial;
	margin-bottom:10px;
}
h2 {
	font-weight:normal;
	font-family:arial;
}
h3 {
	font-weight:normal;
	font-family:arial;
}
.italic {
	font-style:italic;
	color:#000000;
}
.lien-accueil {
	line-height:150%;
	text-indent:5px;
	font-size:30px;
	font-weight:normal;
	font-family:arial;
}
nav ul {
	list-style:none;
	padding:0;
	display:flex;
	justify-content:center;
	gap:0px;
	margin-bottom:40px;
	padding-top:10px;
}
nav a {
	text-decoration:none;
	color:#555;
	font-size:0.8rem;
	transition:color 0.3s ease;
}
nav a:hover {
	color:#b0e0e6
}
nav li {
	display:flex;
	align-items:center;
}
nav li:not(:last-child):after {
	content:"|";
	margin:0 30px;
	color:#000000;
	font-weight:200;
}
.header-container {
	max-width:1200px;
	margin:0 auto;
	text-align:left;
	padding:20px 0;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.intro {
	max-width: 1200px;
	margin-bottom:50px;
	margin-left:150px;
}
.credit {
	margin-top:50px;
	margin-bottom:50px;
	margin-left:150px;
}
.bio {
	max-width: 1200px;
	margin-bottom:50px;
	margin-left:150px;
}
.contact {
	max-width: 1200px;
	margin-bottom:50px;
	margin-left:150px;
}
.video {
	margin-left:150px;
	margin-top:50px;
}
.sous-titre {
	margin-bottom:20px;
	margin-left:150px;
	max-width: 1200px;
}
.texte {
	margin-left:150px;
	max-width: 1200px;
}
.rouge {
	color:red
}
p {
	font-family:arial;
}